@font-face {
    font-family: "ProstoOne Regular";
    src:
        local("ProstoOne-Regular"),
        local("ProstoOne-Regular"),
        url('./assets/ProstoOne-Regular.ttf');

}

:root {
  color-scheme: light dark;
  color: #F5FBEF;
  background-color: #242038;

  font-family: "ProstoOne Regular";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/*
@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }

}
*/